.page-wrapper {
	display: grid;
	grid-template-columns: 20% 76%;
	column-gap: 2%;

	margin-top: 1rem;
}

.sidebar {
	font-family: "Roboto", sans-serif;
	font-size: 13px;
	font-weight: 400;
	background-color: #23232c;
	color: #c2c2ca;
	height: calc(100vh - 1rem);
}

.sidebar > .mainNav {
	margin: 0.5rem 0;
}

.sidebar .mainNav__icon {
	height: 13px;
	width: auto;
}

.sidebar > .mainNav .mainNav__itemlist {
	padding-top: 0.1rem;
}

.sidebar > .mainNav li.mainNav__item {
	padding: 0.75rem 2rem;
}
.sidebar > .mainNav li.mainNav__item:not(.navTitle):hover {
	background-color: #15151e;
	border-left: 4px solid #007feb;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}

.sidebar > .mainNav li.mainNav__item span {
	padding-left: 0.5rem;
}

.sidebar .mainNav__separator {
	height: 1px;
	width: 100%;
	background-color: #32323d;
}

.main-content {
	font-family: "Open Sans", sans-serif;
	display: grid;
	grid-template-columns: minmax(0, 100%);
	grid-template-rows: 33.5% 31.5% 35%;
}

.main-content__player {
	background-image: url("../img/album-songs-bg.png");
	background-size: cover;
	border-radius: 5px;
}

.main-content__player-wrapper {
	display: grid;
	grid-template-columns: 40% 56%;
	column-gap: 2%;
}

.main-content__album {
	text-align: right;
	cursor: pointer;
}

.main-content__album img.main-content__albumImg {
	margin-top: 2.15rem;
	width: 10rem;
}

.main-content__album .main-content__animatedEq__wrapper {
	position: relative;
	left: calc(100% - 7.25vw);
	top: -6.5rem;
	background-color: #000;
	background-image: url("../img/animated-eq.gif");
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.main-content__description {
	margin-top: 3.5rem;
	text-align: left;
	color: #fff;
}

.main-content__description p {
	font-size: 18px;
	font-weight: 600;
}

.main-content__description small {
	line-height: 28px;
	font-size: 14px;
	font-weight: 300;
}

.main-content__heartThis__wrapper {
	display: inline-block;
	margin-top: 1.5rem;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/player-heart.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
	width: 34px;
	height: 34px;
	color: #fff;
	filter: invert(0%) sepia(9%) saturate(36%) hue-rotate(279deg) brightness(103%)
		contrast(101%);
	border-radius: 50%;
	border: 1px solid #fff;
}
.main-content__skipThis__wrapper {
	display: inline-block;
	background-image: url("../img/player-skipsong.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: center;
	width: 34px;
	height: 34px;
	filter: invert(0%) sepia(95%) saturate(20%) hue-rotate(39deg) brightness(93%)
		contrast(107%);
	color: #fff;
	border-radius: 50%;
}
.main-content__genre {
	margin-top: 2rem;
}

.genre__list {
	margin-top: 1rem;
}
.main-content__genre span {
	font-size: 18px;
	font-weight: 600;
	color: #32323d;
}
.main-content__genre small {
	font-size: 14px;
	line-height: 1.5rem;
	font-weight: 400;
	color: #72727d;
}

.main-content__genre img {
	height: 16px;
	width: 16px;
}

.owl-item .item figure img {
	border-radius: 5px;
	height: auto;
}
.owl-item .item figure img:hover {
	opacity: 90%;
}
.owl-item .item figure figcaption {
	position: relative;
	top: -3.9rem;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}

.owl-nav {
	position: absolute;
	right: 0.25rem;
	top: -3.5rem;
}

body
	> div
	> div.main-content
	> div.main-content__genre
	> div.genre__list.owl-carousel.owl-theme.owl-loaded.owl-drag
	> div.owl-nav
	> [class*="owl-"] {
	font-size: 25px;
	color: #72727d;
}
body
	> div
	> div.main-content
	> div.main-content__genre
	> div.genre__list.owl-carousel.owl-theme.owl-loaded.owl-drag
	> div.owl-nav
	> [class*="owl-"]:hover {
	background: none;
	color: #32323d;
	font-weight: 600;
}
