.page-wrapper {
	display: grid;
	grid-template-columns: 20% 76%;
	column-gap: 2%;
}

.page-wrapper :nth-child(odd) {
	background-color: #cfcfcf;
}

.sidebar {
	font-family: "Roboto", sans-serif;
}

.main-content {
	font-family: "Open Sans", sans-serif;
}
